header {
    background-color: #00549E;
    height: 7rem;
    align-items: center;
    margin-bottom: 0.6rem;
 }
 
 .cartImage {
    width: 90px;
    height: 90px;
 }
 
 .textCompra {
    color: white;
    font-size: 18px
 }
 
 .searchButton {
    color: blue;
 }
 
 .btnPesquisar {
    background-color: green;
 }
 
 .lupa {
    background-color: white;
    border-style: none;
 }
 
 .lupa:hover {
    background-color: #EE2E34;
 }

 
 .policiesFooter {
   background-color: #fd0008;
   height: 6rem;
 }