/* >>> PRODUCTS PAGE CSS <<<*/

ul {
    list-style: none;
}

.imgProduct {
    max-width: 100%;
}

.inputQuantity {
    width: 120px;
    text-align: center;
}

.dadoBackground {
    background: tomato;
}


.bannerProduct {

    /* max-width: 100%; */
    height: 210px;

}