/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

/* >>> HEADER <<< */
.container a {
  color: black;
}

.logotipo {
  height: 85px;
  margin-top: 10px;
}

.row .col-4 input {
  width: 100%;
  height: 40px;
  padding: 10px;
}

.row .col-4 a ion-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.col-2 a {
  color: #25d366;
}

.containerNav {
  height: 90px;
}

.firstNav a span {
  font-weight: 500;
}

.col-1 ion-icon {
  width: 25px;
  height: 25px;
}

.whatsapp {
  width: 45px;
  height: 30px;
  margin-right: 7px;
}

.dropdown-menu li a ion-icon {
  width: 20px;
  height: 20px;
}

.secondNav {
  width: 100%;
  height: 60px;
  background-color: #e3242b;
  color: white;
  margin-bottom: 0px;
  margin-top: 1rem;
  transition: transform 0.2s;
}

.secondNav a {
  color: white;
}

.secondNav .navItens:hover {
  transform: scale(1.1);
}

.secondNav span {
  font-size: 20px;
}

/* >>> FIRST BANNER (PROMOS) <<< */
.firstBanner img {
  width: 100%;
  margin-bottom: 3rem;
}

/* >>> CATEGORIES <<< */
.category {
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.spanCategory {
  font-size: 1.5rem;
  font-weight: 600;
  color: #707173;
}

.categoryItem {
  transition: transform 0.2s;
}

.categoryItem:hover {
  transform: scale(1.1);
}

/* >>> FIRST CARDS <<< */
.cards {
  /* background-color: grey; */
  /* height: 50vh; */
  margin-top: 3rem;
}

.carouselProducts {
  margin-top: 50px;
}

.secondCards {
  margin-top: 30px;
}

.secondCards .row {
  margin-top: 5vh;
}

.secondCards .button {
  text-decoration: none;
  outline: none;
  background: white;
  color: #004abe;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;

  text-align: center;
}

.secondCards .firstButton {
  margin-top: -30%;
  padding: 6px;
  width: 170px;
  margin-left: 25%;
  text-align: center;
  text-decoration: none;
}

.buttonDescription {
  width: 160px;
  padding: 15px 15px;
  color: white;
  background: orange;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}

/* >>> DESCRIPTION AND NEWSLETTER SECTION <<< */
.company {
  margin-top: 30px;
}

.newsletter {
  background: #004abe;
  color: white;
  height: 170px;
  padding: 24px 32px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.buttonCadastrar {
  width: 160px;
  padding: 10px 10px;
  color: white;
  background: orange;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.name {
  width: 100%;
  height: 40px;
  padding: 0;
}

.email {
  width: 100%;
  height: 40px;
}

@media (min-width: 1140px) {
  .dropdown {
    display: none;
  }
}

@media (max-width: 1140px) {
  .itensHeader {
    display: none;
  }

  .btn-secondary {
    background: #fff;
    color: #e3242b;
    border-color: grey;
  }
  .btn-secondary:active {
    background: #e3242b;
  }
  .btn-secondary:disabled {
    background: #e3242b;
  }

  .btn-secondary:hover {
    background: #e3242b;
  }

  .company {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* >>> FOOTER SECTION <<< */

.footerRange {
  width: 100%;
  height: 120px;
  background-color: #e3242b;
  color: white;
}

.footerCopyRight {
  background-color: #e3242b;
  color: white;
}