*{
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.firstBanner {
  margin-top: 50px;
}
.cards {
  background-color: grey;
  height: 50vh;
  margin-top: 50px;
}

.carouselProducts {
  margin-top: 50px;
}

.secondCards {
  margin-top: 30px;
}

.secondCards .row {
  margin-top: 5vh;
}
.secondCards .button {
  text-decoration: none;
  outline: none;
  background: white;
  color: #004abe;
  border: none;
  border-radius: 5px;
  font-size: 20px;

  text-align: center;
}

.secondCards .firstButton {
  margin-top: -30%;
  padding: 6px;
  width: 170px;
  margin-left: 25%;
  text-align: center;
  text-decoration: none;
}

.buttonDescription {
  width: 160px;
  padding: 15px 15px;
  color: white;
  background: orange;
  border-radius: 5px;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}


.newsletter {
  background: #004abe;
  color: white;
  height: 140px;
  padding: 24px 32px;
  margin-top: 50px;
}

.buttonCadastrar{
  width: 160px;
  padding: 10px 10px;
  color: white;
  background: orange;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.name{
  width: 230px;
  height: 40px;
  padding: 0;
}

.email{
  width: 384px;
  height: 40px;
}