<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/footers/">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/privacyPolicies.css">
    <title>Políticas de Privacidade</title>
</head>


<header>

    <!-- HEADER -->
    <div class="container">

        <div class="row d-flex align-items-center">

            <div class="col mt-2 mb-2">
                <img class="logoCart" src="img/logo_eliteaco_semfundo_200x85.png" alt="eliteaco logo" />
            </div>
            
            <div class="col ">

                <div class="input-group ">
                    <input type="text" class="form-control" placeholder="Buscar Produto" aria-label="Buscar Produto"
                        aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary lupa" type="button" id="button-addon2"><ion-icon
                            name="search-outline"></ion-icon></button>
                </div>
            </div>

            <div class="col d-flex align-items-center">
                <span class="textCompra"><ion-icon name="lock-closed" class="textCompra me-1"></ion-icon>Compra
                    Segura</span>

            </div>


        </div>
        
    </div>

</header>

<body>


    <div class="container">
        <p>
        <h3>Políticas do Site</h1>
            </p>
            <p></p>
            <p>Caro Cliente, aqui você encontrará informações importantes sobre os seus direitos e obrigações, bem como
                dos procedimentos a serem adotados. Tais informações são importantes, assim, pedimos que você as leia
                com toda atenção.</p>
            <p></p>
            <p>Qualquer dúvida entre em contato através dos nossos Canais de Atendimento disponíveis em nosso site e no
                item 11 deste documento.</p>
            <p></p>
            <p>O Cliente é o único responsável pela veracidade e legalidade dos dados e informações prestadas para fins
                de cadastro e compras na plataforma E-commerce Elite Aço e aplicativo.</p>
            <p></p>
            <p>AVISO: A Elite Aço é um E-commerce varejista, cuja venda de produtos é exclusivamente para o uso e
                consumo, não sendo destinada a distribuição e/ou revenda em qualquer formato.</p>
            <p></p>
            <p>AVISO: Durante o período de "Black Friday", os produtos e ofertas vinculados a esta campanha, respeitarão
                as condições específicas do Regulamento da "Black Friday" que prevalecerão sobre os termos desta
                Política, sendo que esta Política será aplicada de forma subsidiária.</p>
            <p></p>
            <div class="mt-5 fw-bold">
                <p>Pedido</p>
            </div>
            <p>1.1. Os pedidos somente serão considerados válidos quando realizados por meio do nosso site oficial
                https://www.eliteaco.com.br ("site oficial") ou por meio das nossas plataformas iOS, Android e Mobile. A
                Elite Aço não reconhece e não se responsabiliza por qualquer compra feita em outro site que não o seu
                site oficial, ou, ainda, por eventuais alterações e/ou fraudes ocorridas no computador, tablet, celular
                do Cliente e/ou qualquer outro meio de acesso à internet.</p>
            <p></p>
            <p>Por questões de segurança, para a criação de cadastro na Elite Aço é necessário a inclusão de endereço de
                e-mail válido. Endereços de e-mails temporários e/ou com extensões inexistentes (domínios incorretos)
                não são considerados endereços válidos, impedirá a conclusão do cadastro do cliente e/ou facultará o seu
                cancelamento pela Elite Aço.</p>
            <p></p>
            <p>1.2. Após a finalização do pedido, o Cliente receberá uma mensagem através do e-mail de cadastro com a
                confirmação e número do pedido. Após a confirmação do pagamento, o Cliente receberá mensagens com o
                status do pedido.</p>
            <p></p>
            <p>1.3. ATENÇÃO O Cliente deverá acompanhar o recebimento do e-mail de confirmação do pedido acima
                informado, e verificar se o pedido corresponde exatamente à compra realizada. Caso exista qualquer
                divergência, o Cliente deverá entrar em contato através de nossos Canais de Atendimento para análise e
                eventual correção interna. O mesmo se aplica no caso de, ultrapassado o prazo de 24 horas, o Cliente não
                ter recebido o e-mail com a confirmação do pedido.</p>
            <p></p>
            <p>1.4. A Elite Aço possui diversas discussões judiciais referente a restituição de tributos pagos a maior
                ou indevidamente e, conforme o Código Tributário Nacional, para que tais restituições sejam efetivadas é
                fundamental a concordância do consumidor final. Desta forma, ao realizar compras nA Elite Aço e, sendo
                assim, aceitando as políticas do site, você expressamente autorizará a Elite Aço a restituir para si
                integralmente os valores sujeitos a qualquer ressarcimento.</p>
            <p></p>
            <p></p>
            <p></p>
            <div class="mt-5 fw-bold">
                <p>Oferta</p>
            </div>
            <p>2.1. As ofertas serão veiculadas no site oficial da Elite Aço (www.eliteaco.com.br), em mídias e em
                outros canais próprios (incluindo o aplicativo da Elite Aço).</p>
            <p></p>
            <p>2.2. As ofertas serão válidas apenas quando presentes no site oficial da Elite Aço, conforme
                disponibilidade do estoque promocional e/ou validade (prazo) da promoção informada nos materiais de
                divulgação. Para informações e preços atualizados, é necessário visitar o link do produto desejado no
                site.</p>
            <p></p>
            <p>2.3. Devem ser reconhecidos como e-mails promocionais e informativos da Elite Aço apenas os endereços com
                domínio @eliteaco.com.br.</p>
            <p></p>
            <p>2.3.1. Os preços comunicados via e-mail são válidos no dia do seu envio e/ou conforme o período
                promocional indicado no site da Elite Aço (www.eliteaco.com.br). A Elite Aço se reserva no direito de
                corrigir qualquer possível erro de digitação ou gráfico em suas peças de comunicação visual.</p>
            <p></p>
            <p>2.4. As ofertas serão garantidas respeitando-se as informações expressamente contidas na página do
                produto de acordo com o preço estabelecido diretamente no site oficial da Elite Aço Em caso de dúvida, o
                Cliente deverá entrar em contato através de nossos Canais de Atendimento. O preço do produto, frete,
                prazos e condições de pagamento estarão disponíveis na página da oferta do produto e deverão ser
                conferidos pelo Cliente antes da finalização da compra, sendo certo que a finalização da compra pelo
                Cliente significará o seu pleno aceite de todas as condições dispostas pela Elite Aço.</p>
            <p></p>
            <p>2.4.1. As imagens veiculadas em anúncios são meramente ilustrativas. Para mais informações sobre o modelo
                e preços do produto, é necessário visitar o link anunciado no site da Elite Aço (www.eliteaco.com.br)
            </p>
            <p></p>
            <p>2.5. Em virtude dos tipos de produtos comercializados pela Elite Aço poderá ocorrer oscilação de preço de
                um mesmo produto em curto período de tempo. Dessa forma, o Cliente fica ciente que o preço estabelecido
                no momento da contratação é vinculante e não poderá sofrer reajuste. A oferta será válida dentro do
                prazo nela estipulado.</p>
            <p></p>
            <p>2.6. Em caso de erro de digitação e/ou gráfico disponíveis no site, aplicativo, e-mails e/ou qualquer
                outro canal de comunicação, no tocante a preço, especificação técnica, dentre outros, A Elite Aço se
                reserva no direito de corrigir tais equívocos e realizar cancelamento do pedido e/ou venda, a qualquer
                tempo, sem quaisquer ônus às partes.</p>
            <p></p>
            <div class="mt-5 fw-bold">
                <p>Formas de Pagamento</p>
            </div>
            <p>3.1. O Cliente poderá pagar suas compras de acordo com as opções dispostas para cada produto
                comercializado no site da Elite Aço, a exemplo, por PIX (QR CODE ou Código PIX) e cartão de crédito,
                cujas bandeiras e margens de descontos estão ostensivamente explícitas ao Cliente e as opções serão
                disponibilizadas no ato de compra.</p>
            <p></p>
            <p>3.1.1. PIX (QR Code e Código PIX)</p>
            <p></p>
            <p>3.1.1.1. O pagamento por PIX deve ser efetuado dentro do prazo de 30 minutos após concluída a compra.
                Decorrido 30 minutos, o QR Code e Código gerado expira e o pedido é automaticamente cancelado.</p>
            <p></p>
            <p>3.1.1.2. Atenção: A Elite Aço não aceita PIX Transferência (transferência entre contas com PIX sem uso do
                QR Code ou Código PIX), como forma de pagamento.</p>
            <p></p>
            <p>3.1.2. Cartão de Crédito</p>
            <p></p>
            <p>3.1.2.1. Para os pagamentos via cartão de crédito, o Cliente deverá se utilizar, preferencialmente, de
                cartão de crédito de sua titularidade, se responsabilizando pelo seu uso correto. Caso o Cliente utilize
                cartão de crédito de terceiros, ele se responsabilizará em obter a autorização expressa de o respectivo
                titular do cartão de crédito para a realização da compra no site da Elite Aço.</p>
            <p></p>
            <p>3.1.2.2. Fica facultado à Elite Aço solicitar todas e quaisquer informações necessárias para confirmar a
                autorização do titular do cartão.</p>
            <p></p>
            <p>3.1.2.3. O Cliente que se utilizar do cartão de crédito de terceiros sem a devida autorização do
                proprietário, se responsabilizará por todo e qualquer prejuízo causado à Elite Aço e/ou a terceiros, sem
                prejuízo das sanções administrativas e legais aplicáveis.</p>
            <p></p>
            <p>3.1.2.4. O Cliente deve se atentar ao limite de seu cartão que é estabelecido pela própria
                administradora.</p>
            <p></p>
            <p>3.1.3. A Elite Aço poderá ainda, a qualquer tempo e a seu exclusivo critério, disponibilizar ao cliente a
                forma de pagamento por meio de boleto bancário e esta opção, se ativa, estará disposta na etapa de
                pagamento. Quando e se disponibilizado o pagamento por meio de Boleto Bancário e esta for a escolha do
                Cliente, o Cliente deverá clicar na opção CLIQUE AQUI PARA IMPRIMIR O BOLETO e conferir a data de
                vencimento, os dados do pedido, valor e endereço de entrega, bem como se certificar que a linha de
                pagamento não foi alterada por vírus decorrentes do seu equipamento. Em caso de dúvida, o Cliente deverá
                entrar em contato através de nossos Canais de Atendimento.</p>
            <p></p>
            <p>3.1.4. Confirmação de Pagamento</p>
            <p></p>
            <p>3.1.4.1. A liberação do pedido para remessa e postagem está condicionada às políticas internas de cada
                instituição financeira e, portanto, poderá haver o cancelamento do pedido via PIX, assim como em
                qualquer outro meio de pagamento implementado.</p>
            <p></p>
            <p>3.1.4.2. A Elite Aço reserva-se no direito de, antes de confirmar o pedido, solicitar prévia validação e
                autorização das administradoras de cartão de crédito, bem como solicitar a confirmação e o comprovante
                de pagamento do Pix e do boleto bancário, não se responsabilizando por eventuais fraudes ocorridas.</p>
            <p></p>
            <p>3.1.4.3. Referente à modalidade Pix, fica a critério de cada instituição financeira estabelecer um limite
                máximo para a realização de pagamentos. Portanto, fica sob responsabilidade do cliente se informar a
                respeito dessa condição, junto ao seu banco.</p>
            <p></p>
            <p>3.1.4.4. A Elite Aço, a fim de evitar prejuízos aos seus Clientes e/ou ao sistema financeiro, se reserva
                no direito de cancelar a operação de compra, bem como bloquear a respectiva entrega do produto quando
                for comunicado pela operadora de cartão de crédito que houve a utilização indevida ou por qualquer meio
                legal que ateste a suspeita de fraude ou de uso indevido. Nesta hipótese, A Elite Aço não será
                responsável por qualquer dano causado ao Cliente em decorrência de tal cancelamento.</p>
            <p></p>
            <p>3.1.4.5. Na hipótese da Elite Aço ser comunicado acerca da utilização indevida do cartão de crédito após
                a conclusão da operação de compra e entrega do produto ao Cliente, A Elite Aço adotará todas as
                providências legais para averiguar o ocorrido, inclusive de cunho penal, a fim de obter o recebimento do
                crédito decorrente da venda dos produtos.</p>
            <p></p>
            <p>3.1.4.6. O Cliente se compromete a evitar e minimizar a ocorrência de fraudes de qualquer tipo, inclusive
                mantendo o equipamento utilizado para a compra livre de vírus, malwares, spyware e/ou qualquer outra
                forma de adulteração das informações contidas na página da Elite Aço</p>
            <p></p>
            <div class="mt-5 fw-bold">
                <p>Entrega</p>
            </div>
            <p>4.1. O prazo de entrega informado no momento da compra trata-se apenas de uma previsão, podendo ser
                alterado por fatores alheios ao controle da Elite Aço.</p>
            <p></p>
            <p>4.2. A Elite Aço não se responsabiliza pelo não cumprimento dos prazos de entrega nos seguintes exemplos,
                não se limitando a endereço de entrega informado incorretamente, incompleto, desatualizado, endereço com
                restrição de entrega pela transportadora, seja por ser região de risco ou inacessível, Cliente ausente,
                recusa em receber os produtos por parte do Cliente ou terceiros localizados no endereço da entrega,
                mudança de endereço sem a devida notificação à Elite Aço, endereços fechados, em caso furtuito, força
                maior e fatos de terceiros.</p>
            <p></p>
            <p>4.3. A Elite Aço não se responsabiliza pelo não cumprimento do prazo estabelecido quando o Cliente
                residir em áreas de risco ou em áreas posteriormente determinadas pelas empresas transportadoras como
                "áreas de entrega com prazo diferenciado". Nessas situações, cabe ao Cliente averiguar se se enquadra em
                alguma dessas situações antes de finalizar a compra.</p>
            <p></p>
            <p>4.4. O Cliente será responsável pelo pagamento do frete de nova postagem quando houver recusa
                injustificada do recebimento do produto.</p>
            <p></p>
            <p>4.5. O Cliente poderá optar, no momento da formalização do pedido, o modelo de frete a ser contratado
                para o envio da mercadoria, se atentando não só para os preços, mas também aos prazos e condições de
                entrega.</p>
            <p></p>
            <p>4.5.1. Algumas mercadorias estão sujeitas a alteração da forma de postagem, arcando A Elite Aço com
                eventual custo adicional.</p>
            <p></p>
            <p>4.6. Em caso de grandes eventos promocionais como, por exemplo, Black Friday, Mega Maio, Cyber Monday,
                bem como períodos nacionalmente reconhecidos pela alta demanda comercial, como por exemplo, o período de
                Natal, os prazos de entrega poderão sofrer alterações devido à grande demanda.</p>
            <p></p>
            <p>4.7. Para Produtos Digitais a entrega do produto é feita mediante disponibilização da chave de resgate do
                Gift Card no e-mail de cadastro do cliente Elite Aço.</p>
            <p></p>
            <p>ATENÇÃO: A Elite Aço não se responsabiliza pela retenção de mercadorias na SEFAZ quando esta se dever
                exclusivamente de obrigação imposta pela Administração Pública ao Cliente, sendo, portanto, necessário
                seu comparecimento no posto fiscal para que a mercadoria seja liberada, tendo em vista que nestes casos
                as informações referentes a liberações e pagamentos só são passadas aos interessados.</p>
            <p></p>
            <div class="mt-5 fw-bold">
                <p>Trocas e Devoluções</p>
            </div>
            <p>Toda solicitação de troca ou devolução deverá ser informada aos Canais de Atendimento disponíveis em
                nosso site.</p>
            <p></p>
            <p>A troca do produto, por qualquer motivo que seja, somente poderá ser efetivada após o recebimento e
                análise de suas condições. Constatada qualquer divergência entre o relatado pelo Cliente e a condição do
                produto, como por exemplo, mas não se limitando a ausência de avaria, indícios de mau uso, ausência de
                manual e/ou acessórios, A Elite Aço reserva-se no direito de não realizar a troca e reenviar o produto
                ao Cliente, independentemente de sua prévia autorização.</p>
            <p></p>
            <p>5.1. Direito de Arrependimento</p>
            <p></p>
            <p>5.1.1. O exercício do Direito de Arrependimento poderá ser feito em até 07 (sete) dias corridos, a contar
                da data de recebimento da compra, nos moldes do artigo 49 do Código de Defesa do Consumidor.</p>
            <p></p>
            <p>5.1.2. O Cliente deverá manifestar expressamente o seu arrependimento no prazo supracitado através dos
                Canais de Atendimento disponíveis em nosso site, destacando-se, dentre eles, a aba específica para este
                fim, que pode ser encontrada no item "Minha Conta", os casos em que a devolução do produto não for
                aceita, os valores pagos a esse título não serão restituídos e A Elite Aço repostará o produto por
                intermédio de PAC.</p>
            <p></p>
            <p>5.1.3. Para o exercício do Direito de Arrependimento, os produtos deverão ser devolvidos em sua embalagem
                original, sem apresentar qualquer indício de uso, acompanhados da nota fiscal, manual e todos os seus
                acessórios.</p>
            <p></p>
            <p>5.1.4. Certos produtos, em virtude de suas características e especificidades, deverão ser devolvidos sem
                a violação de sua embalagem original, com todos os selos e lacres intactos. São estes:</p>
            <p></p>
            <p>5.1.4.1. Vídeo Games, CDs, DVDs, Softwares ou qualquer outro modelo de produto que permita a reprodução
                ou cópia, ou ainda produtos que acompanham chaves de ativação.</p>
            <p></p>
            <p>5.1.4.2. Produtos considerados acessórios, como por exemplo, Películas, Capas, Fone de ouvido, Cabos,
                Headset, Carregador, Cartão de memória, ou seja, itens que são conectados, aplicados em outros produtos
                ou ainda sujeitos ao contato físico do Cliente.</p>
            <p></p>
            <p>5.1.4.3. Hardwares: componentes físicos, cujas características técnicas e compatibilidades podem ser
                verificadas com simplicidade e brevidade na página do produto, antes de se proceder a quaisquer
                instalações ou ao manuseio do produto e, ainda, deva ser feita a verificação da combinação que seja
                adequada ao uso que fará do produto.</p>
            <p></p>
            <p>5.1.4.4. Produtos de Informática e Eletroeletrônicos: modelos, tamanhos, conectividade são passíveis de
                verificações antes mesmo da abertura e, alguns destes produtos, quando conectados realiza-se transmissão
                e processamento de informações.</p>
            <p></p>
            <p>5.1.4.5. Eletrodomésticos: todos os dados são amplamente detalhados no site da Elite Aço, com o intuito
                de objetivar a aquisição de itens que propiciam a comodidade, o lazer e auxiliam nas tarefas domésticas.
            </p>
            <p></p>
            <p>5.1.4.6. Telefonia, Smartphones e Celulares: para verificação da capacidade, detalhamentos técnicos, não
                são necessários a abertura da embalagem, remoção das películas protetoras, carga da bateria, instalação
                de aplicativos.</p>
            <p></p>
            <p>5.1.5. Após receber a manifestação da intenção de exercer o Direito de Arrependimento por parte do
                Cliente, A Elite Aço enviará a ele confirmação imediata do recebimento da sua manifestação.</p>
            <p></p>
            <p>5.1.6. Após o recebimento tempestivo da manifestação do Direito de Arrependimento, A Elite Aço
                encaminhará ao Cliente, em seu e-mail de cadastro, um código de postagem reversa, com prazo de validade
                de 7 dias corridos, para que este possa encaminhar o(s) produto(s) à Elite Aço sem qualquer custo. Em
                algumas situações específicas, A Elite Aço poderá realizar a coleta do(s) produto(s) por meio de empresa
                transportadora; nestes casos, o Cliente deverá informar, além do endereço no qual o(s) produto(s) serão
                recolhidos, 3 (três) opções de data e horário para a transportadora recolher o(s) produto(s).</p>
            <p></p>
            <p>5.1.7. O Cliente se compromete a postar o(s) produto(s) no prazo de 7 dias corridos a contar do
                recebimento do código de postagem reversa, emitido pela Elite Aço, em qualquer agência dos Correios.</p>
            <p></p>
            <p>5.1.8. Nos casos em que a coleta do(s) produto(s) for feita por transportadora, o Cliente se compromete a
                entregar o(s) produto(s) à empresa transportadora no local, na data e no horário previamente agendado.
            </p>
            <p></p>
            <p>5.1.9. No caso da não postagem do produto no prazo acima indicado se utilizando do código emitido pela
                Elite Aço ou, no caso da não entrega do produto para a transportadora na data, horário e local acordado,
                o Cliente poderá encaminhar o(s) produto(s) por meio de postagem junto aos Correios, no prazo de 14
                (catorze) dias corridos, a contar do dia seguinte ao término do prazo anterior, arcando com os custos da
                postagem.</p>
            <p></p>
            <p>5.1.10. Após a análise e o aceite do Direito de Arrependimento, os valores devidos serão integralmente
                restituídos ao Cliente.</p>
            <p></p>
            <p>5.1.11. Passados os 14 (catorze) dias a que se refere o ponto 5.1.9. sem que o Cliente tenha encaminhado
                o(s) produto(s) à empresa, o Cliente ainda terá 7 (sete) dias para postá-los e encaminhá-los à Elite Aço
                devendo, no entanto, arcar com todos os custos da postagem. Caso a postagem seja feita dentro do período
                de 7 (sete) dias a que se refere este artigo, os valores relativos à postagem não serão restituídos, no
                caso de aceite do Direito de Arrependimento.</p>
            <p></p>
            <p>5.1.12. A análise da solicitação de Direito de Arrependimento será realizada pela Elite Aço e informada
                através do e-mail de cadastro do Cliente em até 07 (sete) dias úteis, contados da data de recebimento do
                produto pela Elite Aço.</p>
            <p></p>
            <p>5.1.13. Na eventualidade de A Elite Aço se recusar a aceitar o Direito de Arrependimento, este deverá
                providenciar ao Cliente informações sobre os motivos que embasaram a recusa.</p>
            <p></p>
            <p>5.1.14. Para evitar a devolução de produtos por motivo de incompatibilidade entre componentes físicos
                (hardwares), sistemas operacionais e/ou outros softwares, o Cliente deverá analisar, antes da compra,
                todas as informações técnicas do produto, as quais são disponibilizadas na página do produto, bem como
                as informações disponíveis no site do fabricante. Tais informações técnicas são fundamentais para
                auxiliá-lo na escolha do produto que mais se adeque aos seus propósitos e às suas necessidades.</p>
            <p></p>
            <p>5.1.15. Os Kits (Bundle) são produtos vendidos, obrigatoriamente, de forma conjunta, sendo que esta
                composição de produtos é uma venda única e por este motivo, podem ser comercializados em ofertas e com
                descontos diferenciados. Assim, exclusivamente, para o exercício do direito de arrependimento, o Kit
                deverá ser devolvido em sua integralidade, com todos os produtos e acessórios que o compõe, respeitado
                ainda, todos os demais termos e condições desta Política. Não serão aceitas devoluções individualizadas
                e/ou parciais de produtos adquiridos em forma de Kit.</p>
            <p></p>
            <p>5.1.16. A Elite Aço não será obrigada a atender às solicitações de troca ou devolução de qualquer produto
                quando o Cliente não tenha manifestado expressamente a sua intenção de exercer o seu Direito de
                Arrependimento, no prazo legal de 7 (sete) dias corridos a contar da data de recebimento do produto, por
                meio dos canais de Atendimento informados.</p>
            <p></p>
            <p>5.1.17. Para que o Direito de Arrependimento seja aceito, é obrigatório que o produto seja encaminhado à
                Elite Aço na embalagem original, sem avarias, com todos os componentes, acessórios e manuais que o
                integram, conforme informado acima.</p>
            <p></p>
            <p>5.1.18. Caso os requisitos anteriormente informados não sejam totalmente preenchidos, A Elite Aço não
                estará obrigada a aceitar o Direito de Arrependimento da compra. Nessa situação, o produto objeto da
                compra será repostado para o mesmo endereço de entrega, acompanhado de termo, o qual informará os
                motivos que levaram A Elite Aço a recusar o exercício do direito do arrependimento.</p>
            <p></p>
            <p>5.2. Avarias</p>
            <p></p>
            <p>5.2.1. No ato da entrega do(s) produto(s), o Cliente ou o terceiro responsável pelo recebimento deverá,
                obrigatoriamente, verificar se a embalagem se encontra em perfeito estado. Caso seja verificado qualquer
                indício de recondicionamento, violação e/ou avaria, o Cliente ou o terceiro deverá recusar de imediato o
                recebimento.</p>
            <p></p>
            <p>5.2.2. Caso o Cliente ou o terceiro opte por receber o produto com imperfeições em sua embalagem e/ou no
                próprio produto, este, obrigatoriamente, deverá fazer a observação da avaria na Nota Fiscal/Conhecimento
                de Transporte no momento da entrega deste.</p>
            <p></p>
            <p>5.2.3. Caso o Cliente receba o produto e, posteriormente, verifique que a embalagem não se encontra em
                perfeito estado, este deverá contatar A Elite Aço, no prazo máximo de 48 (quarenta e oito) horas do
                recebimento, e informar o ocorrido.</p>
            <p></p>
            <p>5.2.4. O Cliente terá 48 (quarenta e oito) horas, a contar do recebimento do produto, para informar A
                Elite Aço sobre a existência de qualquer avaria/vício aparente no produto recebido. Após tal prazo,
                considerar-se-á aceita a entrega, em perfeitas condições.</p>
            <p></p>
            <p>5.2.5. Não serão aceitas quaisquer solicitações e reclamações sobre a existência de avarias/vícios
                aparentes após o prazo de 48 (quarenta e oito) horas acima informado.</p>
            <p></p>
            <p>5.2.6. Aceita a reclamação, A Elite Aço encaminhará ao Cliente, via e-mail de cadastrado, um código para
                devolução, com prazo de 7 (sete) dias corridos, para que este realize a postagem do produto à Elite Aço,
                conforme orientações recebidas.</p>
            <p></p>
            <p>5.2.7. Em decorrência de determinadas características do produto, A Elite Aço reserva-se no direito de
                realizar a coleta do produto avariado por meio de transportadora contratada. Nestes casos, será agendada
                com o Cliente a data e a hora da coleta.</p>
            <p></p>
            <p>5.2.8. O produto deverá ser devolvido com todos os manuais, acessórios e nota fiscal de compra que
                eventualmente acompanhem o produto principal.</p>
            <p></p>
            <p>5.2.9. Ao ser identificado avaria no produto, A Elite Aço poderá:</p>
            <p></p>
            <p>(i) sanar o vício, conforme legislação vigente;</p>
            <p>(ii) substituir o produto por outro da mesma espécie, em perfeitas condições de uso, ou, não sendo
                possível, substituir por outro de espécie, marca ou modelo diversos, mediante complementação do valor
                pelo Cliente, conforme legislação vigente;</p>
            <p>(iii) estornar o valor pago.</p>
            <p></p>
            <p>5.2.10. Se eventualmente o produto estiver esgotado, será facultado ao Cliente optar pela restituição dos
                valores efetivamente pagos ou pela inserção de créditos no valor da compra realizada, em seu login, para
                serem utilizados em outras compras na plataforma da Elite Aço.</p>
            <p></p>
            <div class="mt-5 fw-bold">
                <p>Produto em desacordo com o pedido</p>
            </div>
            <p>6.1. O Cliente ou o terceiro deverá conferir, no ato do recebimento, se o(s) produto(s) é o adquirido e
                descrito na nota fiscal. Caso seja constatado que o produto entregue não é o mesmo que o adquirido, o
                Cliente ou o terceiro, deverá recusar seu recebimento e entrar em contato através dos Canais de
                Atendimento em até de 48 (quarenta e oito) horas a contar do ato do recebimento.</p>
            <p></p>
            <p>6.2. Caso o Cliente venha a receber o produto e constate que o produto recebido não é o adquirido e
                descrito na Nota Fiscal, o Cliente se compromete a devolver/entregar o Produto à Elite Aço ou a quem
                esse indicar (Transportadoras), no mesmo estado em que recebeu, se comprometendo ainda a indenizar A
                Elite Aço dos prejuízos ocasionados por negligência, má utilização, guarda inadequada, desleixo ou outro
                dano que possa decorrer, direta ou indiretamente, de sua ação ou omissão e, a não devolução do Produto
                acarretará o pagamento do valor do produto recebido à Elite Aço, sem prejuízo de responder pelas perdas
                e danos ocasionados a esse.</p>
            <p></p>
            <div class="mt-5 fw-bold">
                <p>Garantia</p>
            </div>
            <p>7.1. A Elite Aço poderá oferecer garantia contratual contra defeitos de fabricação para os produtos
                comercializados por ele, exceto os produtos vendidos como OpenedBox e os que possuem assistência técnica
                própria do fabricante em território nacional.</p>
            <p></p>
            <p>7.2. O prazo total de garantia compreende a garantia legal e contratual.</p>
            <p></p>
            <p>7.3. O prazo da garantia contratual poderá variar em virtude do produto adquirido. Tal prazo será
                informado na nota fiscal da compra e página do produto no site da Elite Aço</p>
            <p></p>
            <p>7.4. Todo produto encaminhado à Elite Aço por conta de vício passará obrigatoriamente e previamente por
                uma análise técnica para averiguação da existência de vícios e/ou defeitos de fabricação.</p>
            <p></p>
            <p>7.5. Caso não seja constatado vício(s) no produto, ou ainda, que o vício foi causado por uso indevido
                pelo Cliente e/ou terceiros, A Elite Aço reserva-se no direito de reenviar o produto ao Cliente,
                isentando-se da obrigação de troca ou restituição dos valores pagos, bem como das despesas de frete
                geradas por este reenvio.</p>
            <p></p>
            <p>7.6. Quando for constatado que o vício no produto foi causado por uso indevido pelo Cliente e/ou
                terceiros, A Elite Aço elaborará um termo de constatação que indicará os motivos da perda da garantia
                pelos quais não foi aceita a troca, reparo e a restituição dos valores pagos pelo produto. Tal termo
                será encaminhado ao Cliente juntamente com o produto repostado.</p>
            <p></p>
            <p>7.7. Nos casos em que o Cliente acionar a garantia do produto, A Elite Aço reserva-se no direito de
                permanecer com o produto por até 30 dias, a contar do recebimento deste, nos termos do artigo 18, §1º,
                do Código de Defesa do Consumidor.</p>
            <p></p>
            <p>ATENÇÃO: é de inteira responsabilidade do Cliente a execução de cópias de segurança (backup) de quaisquer
                programas, dados e/ou arquivos relevantes, antes de encaminhar o produto para a empresa. A Elite Aço não
                se responsabilizará pela perda de quaisquer dados, arquivos e/ou programas que, por ventura, existam no
                produto encaminhado para reparo.</p>
            <p></p>
            <p>7.8. A garantia não abrange:</p>
            <p></p>
            <p>7.8.1. Produtos não adquiridos no site da Elite Aço;</p>
            <p></p>
            <p>7.8.2. Produtos fora do prazo de garantia;</p>
            <p></p>
            <p>7.8.3. Defeito por manuseio inadequado, uso incorreto e/ou instalação incorreta;</p>
            <p></p>
            <p>7.8.4. Custos de instalação;</p>
            <p></p>
            <p>7.8.5. Custos de conserto do produto fixado pela assistência técnica;</p>
            <p></p>
            <p>7.8.6. Recuperação de quaisquer programas, dados, arquivos e/ou programas, aplicativos, sistemas
                operacionais ou qualquer outro software, uma vez que, a responsabilidade de realizar o backup é de
                inteira responsabilidade do Cliente;</p>
            <p></p>
            <p>7.8.7. Defeitos ocasionados por falhas ou erros durante ou após atualizações de firmware;</p>
            <p></p>
            <p>7.8.8. Casos de mau funcionamento por falha na configuração de software ou drives;</p>
            <p></p>
            <p>7.8.9. Conserto ou reposição de peças por desgaste natural ou troca periódica durante o tempo de vida do
                produto; por exemplo: adaptadores de força, cabos elétricos, cabeçotes laser de aparelhos de CDs,
                acessórios, vidros de proteção, fusíveis internos, pilhas ou baterias internas ou externas, fitas,
                cartuchos e etc.;</p>
            <p></p>
            <p>7.8.10. Uso inadequado, imprudência, imperícia ou negligência;</p>
            <p></p>
            <p>7.8.11. Perda ou dano ocasionado por força maior ou caso fortuito, e culpa exclusiva do Cliente ou de
                terceiros;</p>
            <p></p>
            <p>7.8.12. Carregadores de bateria, controles remotos, bem como quaisquer tipos de transformadores externos
                ou estabilizadores de voltagem e outros acessórios externos ao produto;</p>
            <p></p>
            <p>7.8.13. Devolução de produtos pelo motivo de incompatibilidade entre componentes físicos (hardware),
                sistemas operacionais ou outros softwares, já que a escolha do produto adequado é de inteira
                responsabilidade do Cliente. Lembrando que, as informações técnicas são disponibilizadas pelos
                fabricantes em seu site oficial, bem como na página do produto no site da Elite Aço</p>
            <p></p>
            <p>7.8.14. A Elite Aço não se responsabiliza por danos causados por terceiros, por questões ou elementos
                fora de seu alcance, controle e/ou ingerência das partes.</p>
            <p></p>
            <p>7.9. Perda de Garantia</p>
            <p></p>
            <p>A ocorrência de qualquer das situações abaixo descritas acarretará na perda da garantia do produto:</p>
            <p></p>
            <p>7.9.1. Retirada ou violação de selos de garantia ou identificação da Elite Aço e/ou fabricante;</p>
            <p></p>
            <p>7.9.2. Violação, modificação, troca de componentes, ajustes, consertos feito por pessoa não autorizado;
            </p>
            <p></p>
            <p>7.9.3. Serviços executados diretamente pelo Cliente sem prévio consentimento da Elite Aço e/ou do
                fabricante que causem danos ao produto;</p>
            <p></p>
            <p>7.9.4. Manuseio incorreto, em desacordo com o manual;</p>
            <p></p>
            <p>7.9.5. Uso de acessórios, componentes ou sistemas não originais ou não recomendados e/ou não aprovados
                pelo fabricante;</p>
            <p></p>
            <p>7.9.6. Transporte inadequado do produto pelo Cliente que o exponha a trepidações, quedas, umidade, calor
                excessivo ou excesso de peso sobre o produto ou embalagem, entre outros;</p>
            <p></p>
            <p>7.9.7. Danos físicos (amassados, arranhões, manuscritos, descaracterização, componentes queimados por
                descarga elétrica ou excesso de voltagem, danos decorrentes de exposição excessiva ao calor, fogo,
                umidade, placas ou processadores queimados, trincados, lascados, processadores e placas mãe com pinos e
                sockets tortos, quebrados, etc.);</p>
            <p></p>
            <p>7.9.8. Qualquer outra avaria que não seja classificada como defeito/vício de fabricação.</p>
            <p></p>
            <p>7.9.9. Assistência Técnica do Fabricante</p>
            <p></p>
            <p>7.10 Nos casos em que A Elite Aço indicar a assistência técnica autorizada para reparo/conserto, o
                Cliente deverá acionar a garantia junto à própria fabricante, visando rapidez e eficácia no atendimento,
                tendo em vista que A Elite Aço não possui autorização para o manuseio e reparo de determinados produtos.
                Nestes casos, o Cliente deverá também ler as Políticas do fabricante.</p>
            <p></p>
            <p>7.10.1 O produto deverá ser enviado à assistência técnica autorizada, acompanhada da nota fiscal de
                compra, preferencialmente na embalagem original, ou na impossibilidade, em embalagem adequada a fim de
                proteger o produto, juntamente com todos os acessórios (cabos, manuais, cds e etc.) que acompanham o
                produto.</p>
            <p></p>
            <p>7.11. Devolução de Valores</p>
            <p></p>
            <p>7.11.1. Aplicam-se as devoluções de valores nos seguintes casos:</p>
            <p></p>
            <p>(i) Direito de Arrependimento</p>
            <p>(ii) Garantia aceita</p>
            <p>(iii) Avaria dentro de 48 horas</p>
            <p></p>
            <p>7.11.2. Nesses casos, a devolução dos valores será feita da seguinte forma:</p>
            <p></p>
            <p>(i) Devolução do valor pago em conta bancária de origem do pagamento, desde que o pagamento tenha sido
                feito por meio de PIX; ou</p>
            <p>(ii) Inserção de crédito no login; ou</p>
            <p>(iii) Estorno do valor pago no cartão de crédito, desde que o pagamento tenha sido feito por meio de
                cartão de crédito; ou</p>
            <p>(iv) Devolução do valor pago em conta bancária de titularidade do Cliente ou em conta bancária
                formalmente indicada por este, desde que o pagamento tenha sido feito por meio de boleto.</p>
            <p></p>
            <p>7.11.3. Toda solicitação de devolução de valores pagos será previamente analisada pela Elite Aço, a fim
                de averiguar se a solicitação se encontra em consonância com as situações acima descritas, bem como com
                aquelas situações descritas pela legislação aplicável. Caso a solicitação se enquadre em qualquer das
                hipóteses autorizadoras, a devolução dos valores pagos será feita das seguintes formas:</p>
            <p></p>
            <p>7.11.3.1. Em compras realizadas através de cartão de crédito, o respectivo estorno será solicitado à
                administradora do cartão utilizado. Este procedimento é efetuado exclusivamente pela própria
                administradora do cartão de crédito, cabendo à Elite Aço tão somente a solicitação do estorno, sendo que
                o prazo do estorno dependerá da política interna da empresa administradora do cartão.</p>
            <p></p>
            <p>7.11.3.2. Em compras pagas por meio de boleto bancário, a restituição será creditada sempre na conta de
                titularidade do Cliente que realizou a compra ou em conta bancária formalmente indicada por este. Nesses
                casos em conta bancária do Cliente, este é responsável exclusivo pelas informações dos dados fornecidos.
            </p>
            <p></p>
            <p>7.11.3.3. Caso o Cliente deseje que a devolução dos valores pagos seja feita em conta de terceiros, este
                deverá preencher autorização específica, com firma reconhecida, do Cliente e do titular da conta a ser
                utilizada, atestando a ciência deste terceiro, e encaminhar documento de identidade e CPF do terceiro.
            </p>
            <p></p>
            <p>7.11.3.4. A Elite Aço se reserva no direito de não realizar o estorno dos valores pagos em conta de
                terceiro sem a autorização a que se refere a cláusula anterior.</p>
            <p></p>
            <p>7.11.3.5. A devolução dos valores pagos a título de postagem será feita juntamente com os valores do
                produto devolvido, desde que obedecidos todos os requisitos dispostos no ponto 7.12 (Autorização de
                Postagem) abaixo.</p>
            <p></p>
            <p>7.11.4. Nos casos em que a devolução do produto não for aceita, os valores pagos a esse título não serão
                restituídos e A Elite Aço repostará o produto por intermédio de PAC - encomenda normal, cujo prazo de
                entrega dependerá do endereço de destino.</p>
            <p></p>
            <p>7.11.5. No caso acima descrito, o produto será repostado para o endereço informado pelo Cliente no
                momento da compra.</p>
            <p></p>
            <p>7.11.6. Caso o Cliente tenha urgência no reenvio do produto, poderá solicitar previamente outra
                modalidade de postagem, arcando com os custos adicionais da modalidade de postagem escolhida.</p>
            <p></p>
            <p>7.12. Autorização de postagem</p>
            <p></p>
            <p>7.12.1. A autorização de postagem é enviada ao e-mail de cadastro do Cliente e tem validade de 07 (sete)
                dias corridos, prazo este não renovável. Caso o produto não seja enviado neste prazo, o Cliente deverá
                entrar em contato com A Elite Aço para que se possa averiguar a viabilidade de emitir um novo código. A
                emissão de uma segunda autorização de postagem não se configura como uma obrigação desta empresa,
                tratando-se de mera liberalidade.</p>
            <p></p>
            <p>7.12.2. No caso da não postagem do produto no prazo acima indicado se utilizando do código emitido por
                esta empresa ou, no caso de coleta programada, não disponibilizando o Cliente o produto para a
                transportadora na data, horário e local acordado, o Cliente poderá encaminhar o(s) produto(s) por meio
                de postagem junto aos Correios, no prazo de 14 (catorze) dias corridos, a contar do dia seguinte ao
                término do prazo anterior, arcando com os custos da postagem.</p>
            <p></p>
            <p>7.12.3. Os valores relativos à postagem a que se refere o artigo 7.12.2. serão integralmente restituídos
                ao Cliente quando constatado que os requisitos presentes neste documento e/ou dispostas na legislação
                aplicável se encontram devidamente preenchidos.</p>
            <p></p>
            <p>7.12.4. Passados os 14 (catorze) dias a que se refere o ponto 7.12.2. sem que o Cliente tenha encaminhado
                o(s) produto(s) à empresa, o Cliente ainda terá 7 (sete) dias para postá-los e encaminhá-los à Elite Aço
                devendo, no entanto, arcar com todos os custos da postagem.</p>
            <p></p>
            <p>7.12.5. Na ocorrência da situação descrita no artigo 7.12.4 os valores despendidos a título de postagem
                não serão reembolsados pela Elite Aço, de modo que deverão ser inteiramente arcados pelo Cliente.</p>
            <p></p>
            <p>7.12.6. Em algumas situações específicas, A Elite Aço poderá, ao invés de emitir o código de postagem
                reversa, realizar a coleta do(s) produto(s) por meio de empresa transportadora; nestes casos, o Cliente
                deverá informar, além do endereço no qual o(s) produto(s) serão recolhidos.</p>
            <p></p>
            <p>7.12.7. Todas as disposições descritas nos pontos 7.12.1 e 7.12.2 se aplicarão à devolução por meio de
                transportadora.</p>
            <p></p>
            <p>7.12.8. Remessa de Produtos de Pessoa Jurídica: Caso o Cliente seja pessoa jurídica (CNPJ), este deverá
                emitir uma nota fiscal de devolução (desistência da compra - prazo de 7 dias ou produto em desacordo com
                o pedido), contendo os mesmos dados referente aos produtos, valores, quantidades conforme nota fiscal de
                compra. O destinatário desta nota fiscal deverá ser o mesmo constante na nota fiscal de compra, ou seja,
                ELITE AÇO INDUSTRIA E COMERCIO DE MOVEIS LTDA - CNPJ 02.141.835/0001-97 - I.E. 177.129.987.115 - Rua
                Fernando Fatori, 375 - Parque Industrial Alexandre Biagi, Araçatuba/SP, CEP: 16.080-317. Essa nota
                fiscal de devolução emitida deverá ser enviada para o e-mail: sac@eliteaco.com.br, para validação e
                estando correta, será autorizado o envio da mercadoria.</p>
            <p></p>
            <p>7.12.9. O cliente Pessoa Jurídica (CNPJ) desobrigado da emissão de nota fiscal, anexará ao produto,
                declaração de transporte que conterá: (i) os dados do destinatário: Elite Aço Indústria e Comércio de
                Móveis LTDA - CNPJ 02.141.835/0001-97 - I.E. 177.129.987.115 - Rua Fernando Fatori, 375 - Parque
                Industrial Alexandre Biagi, Araçatuba/SP, CEP: 16.080-317; (ii) os mesmos dados referentes aos produtos,
                valores, quantidades conforme nota fiscal de compra; e (iii) o motivo da devolução. Será necessária,
                ainda, em conjunto com a declaração, o envio da cópia da nota fiscal de compra.</p>
            <p></p>
            <p>7.12.10. O Cliente deverá encaminhar o produto para o endereço abaixo, seguindo as orientações de
                postagem encaminhadas ao Cliente através de seu e-mail de cadastro, informando o número do protocolo de
                autorização.</p>
            <p></p>
            <p>Elite Aço Indústria e Comércio de Móveis LTDA.</p>
            <p>Autorização (Protocolo nº ....)</p>
            <p>Rua Fernando Fatori, 375 - Parque Industrial Alexandre Biagi, Araçatuba/SP, CEP: 16.080-317.</p>
            <p></p>
            <p>7.12.11. Em ambos os casos, os produtos somente serão considerados recebidos pela Elite Aço desde que
                todos os requisitos acima sejam atendidos, em conformidade com a legislação vigente. Caso contrário, A
                Elite Aço se reserva o direito de repostar o produto ao cliente sem qualquer tratativa e sem prévia
                autorização do cliente.</p>
            <p></p>
            <p>7.12.12. No caso do envio pelo cliente à Elite Aço, de itens ou acessórios que não tenham sido adquiridos
                na Elite Aço, o cliente terá o prazo de 15 (quinze) dias, contados do primeiro contato realizado pela
                Elite Aço, para manifestar-se no sentido da devolução dos itens incorretamente enviados, cabendo
                exclusivamente ao cliente o pagamento dos fretes de remessa e devolução do bem. Decorrido o prazo ora
                estabelecido, sem que ocorra manifestação e comprovação do pagamento do frete, será facultado à Elite
                Aço, independentemente de novo aviso, o descarte destes itens. Sendo que neste caso, não será devido
                pela Elite Aço qualquer indenização, seja a que título for.</p>
            <p></p>
            <p> </p>
            <p></p>
            <div class="mt-5 fw-bold">
                <p>Canais de Atendimento</p>
            </div>
            <p>A Elite Aço disponibiliza a todos os seus Clientes os seguintes canais de atendimento:</p>
            <p></p>
            <p>- Central de Atendimento: (18) 3637-0051 (Segunda à Sábados, desde que sejam dias úteis em Araçatuba-SP,
                das 08h00 às 20h00).</p>
            <p></p>
            <p>- CHAT: Segunda à Sábados das 08h00 às 20h00, desde que sejam dias úteis em Araçatuba-SP.</p>
            <p></p>
            <p>- E-mail do Atendimento: sac@eliteaco.com.br</p>
    </div>

    <!-- Remove the container if you want to extend the Footer to full width. -->


    <footer class="policiesFooter p-4 mt-5 text-white">

        <section class="d-flex align-items-center justify-content-center">
            <div class="fa-2x mx-3">
                <a href="#"></a>
                <ion-icon name="logo-facebook"></ion-icon>
            </div>
            <div class="fa-2x mx-3">
                <a href="#"></a>
                <ion-icon name="logo-instagram"></ion-icon>
            </div>
            <div class="fa-2x mx-3">
                <a href="#"></a>
                <ion-icon name="logo-youtube"></ion-icon>
            </div>
            <div class="fa-2x mx-3">
                <a href="#"></a>
                <ion-icon name="logo-whatsapp"></ion-icon>
            </div>
        </section>
    </footer>


    <!-- End of .container -->



    <script src="/shoppingCart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <!-- 2º Script = IonIcons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>

</html>