<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="store.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/footers/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- >>> PRODUCT CATEGORIES <<< -->
    <div class="container">
        <div class="row">
            <div class="col-3 d-flex  flex-column ">
                <ol class="list-group list-group-numbered d-flex  flex-grow-1">
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Armários Multiuso de Aço</div>
                            Lavanderia e Outros
                        </div>
                        <span class="badge bg-primary rounded-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Guarda-Volumes de Aço</div>
                            Empresas e Comércio
                        </div>
                        <span class="badge bg-primary rounded-pill">35</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Arquivos Gaveteiros de Aço</div>
                            Escritório
                        </div>
                        <span class="badge bg-primary rounded-pill">7</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Estantes de Aço</div>
                            Residencial e Corporativo
                        </div>
                        <span class="badge bg-primary rounded-pill">50</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Armários de Aço</div>
                            Escritório e Residencial
                        </div>
                        <span class="badge bg-primary rounded-pill">21</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Gôndolas de Aço</div>
                            Expositores para Comércio
                        </div>
                        <span class="badge bg-primary rounded-pill">70</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Banquetas de Aço</div>
                            Residencial e Lazer
                        </div>
                        <span class="badge bg-primary rounded-pill">3</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Fruteiras</div>
                            Cozinha
                        </div>
                        <span class="badge bg-primary rounded-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Subheading</div>
                            Content for list item
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Subheading</div>
                            Content for list item
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                </ol>
            </div>


            <!-- >>> PRODUCT CARDS <<< -->
            <div class="col d-flex align-items-start flex-wrap gap-3 colCards">
                <div class="card" style="width: 18rem;">
                    <a href="" class="text-decoration-none"><img src="img/ea602t-vermelho_280x280.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Arquivo Gaveteiro Organizador de Aço</h5>
                    </a>
                    <span>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    </span>
                    <p class="text-decoration-line-through">R$ 1.900,00</p>
                    <li class="list-group-item list-group-flush d-flex align-items-center ">R$<span
                            class="fw-bold fs-4 align-items-center">1.500,00</span>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <a href="" class="text-decoration-none"><img src="img/ea602t-vermelho_280x280.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Arquivo Gaveteiro Organizador de Aço</h5>
                </a>
                <span>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                </span>
                <p class="text-decoration-line-through">R$ 1.900,00</p>
                <li class="list-group-item list-group-flush d-flex align-items-center ">R$<span
                        class="fw-bold fs-4 align-items-center">1.500,00</span>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <a href="" class="text-decoration-none"><img src="img/ea602t-vermelho_280x280.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Arquivo Gaveteiro Organizador de Aço</h5>
            </a>
            <span>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </span>
            <p class="text-decoration-line-through">R$ 1.900,00</p>
            <li class="list-group-item list-group-flush d-flex align-items-center ">R$<span
                    class="fw-bold fs-4 align-items-center">1.500,00</span>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="" class="text-decoration-none"><img src="img/ea602t-vermelho_280x280.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Arquivo Gaveteiro Organizador de Aço</h5>
        </a>
        <span>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
        </span>
        <p class="text-decoration-line-through">R$ 1.900,00</p>
        <li class="list-group-item list-group-flush d-flex align-items-center ">R$<span
                class="fw-bold fs-4 align-items-center">1.500,00</span>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="" class="text-decoration-none"><img src="img/ea602t-vermelho_280x280.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Arquivo Gaveteiro Organizador de Aço</h5>
        </a>
        <span>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
        </span>
        <p class="text-decoration-line-through">R$ 1.900,00</p>
        <li class="list-group-item list-group-flush d-flex align-items-center ">R$<span
                class="fw-bold fs-4 align-items-center">1.500,00</span>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="" class="text-decoration-none"><img src="img/ea602t-vermelho_280x280.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Arquivo Gaveteiro Organizador de Aço</h5>
        </a>
        <span>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
        </span>
        <p class="text-decoration-line-through">R$ 1.900,00</p>
        <li class="list-group-item list-group-flush d-flex align-items-center ">R$<span
                class="fw-bold fs-4 align-items-center">1.500,00</span>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="" class="text-decoration-none"><img src="img/ea602t-vermelho_280x280.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Arquivo Gaveteiro Organizador de Aço</h5>
        </a>
        <span>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
        </span>
        <p class="text-decoration-line-through">R$ 1.900,00</p>
        <li class="list-group-item list-group-flush d-flex align-items-center ">R$<span
                class="fw-bold fs-4 align-items-center">1.500,00</span>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="" class="text-decoration-none"><img src="img/ea602t-vermelho_280x280.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Arquivo Gaveteiro Organizador de Aço</h5>
        </a>
        <span>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
        </span>
        <p class="text-decoration-line-through">R$ 1.900,00</p>
        <li class="list-group-item list-group-flush d-flex align-items-center ">R$<span
                class="fw-bold fs-4 align-items-center">1.500,00</span>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="" class="text-decoration-none"><img src="img/ea602t-vermelho_280x280.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Arquivo Gaveteiro Organizador de Aço</h5>
        </a>
        <span>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
        </span>
        <p class="text-decoration-line-through">R$ 1.900,00</p>
        <li class="list-group-item list-group-flush d-flex align-items-center ">R$<span
                class="fw-bold fs-4 align-items-center">1.500,00</span>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="" class="text-decoration-none"><img src="img/ea602t-vermelho_280x280.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Arquivo Gaveteiro Organizador de Aço</h5>
        </a>
        <span>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
        </span>
        <p class="text-decoration-line-through">R$ 1.900,00</p>
        <li class="list-group-item list-group-flush d-flex align-items-center ">R$<span
                class="fw-bold fs-4 align-items-center">1.500,00</span>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="" class="text-decoration-none"><img src="img/ea602t-vermelho_280x280.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Arquivo Gaveteiro Organizador de Aço</h5>
        </a>
        <span>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
        </span>
        <p class="text-decoration-line-through">R$ 1.900,00</p>
        <li class="list-group-item list-group-flush d-flex align-items-center ">R$<span
                class="fw-bold fs-4 align-items-center">1.500,00</span>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="" class="text-decoration-none"><img src="img/ea602t-vermelho_280x280.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Arquivo Gaveteiro Organizador de Aço</h5>
        </a>
        <span>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
        </span>
        <p class="text-decoration-line-through">R$ 1.900,00</p>
        <li class="list-group-item list-group-flush d-flex align-items-center ">R$<span
                class="fw-bold fs-4 align-items-center">1.500,00</span>
    </div>


    <!-- 1º Script = Bootstrap 5 -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <!-- 2º Script = IonIcons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



</body>

</html>